Module14/homework_14/homework_14/Employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Family" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="SecondName" type="xs:string" />
              <xs:element name="Document">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DocumentCode" type="xs:unsignedByte" />
                    <xs:element name="Series" type="xs:unsignedShort" />
                    <xs:element name="Number" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BirthDate" type="xs:date" />
              <xs:element name="Sex" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>